<div class="col-md-12">
  <mat-card class="bg-bluebdv" >
    <mat-card-content class="card-info-bdv" ><br>
      <mat-card-title   class="f-s-12 f-w-100">Cantidad de Lotes Procesados</mat-card-title>
        <h2 class="text-info-bdv">83</h2>
      <mat-divider></mat-divider>
      <p class="text-small">Total</p>
    </mat-card-content>
  </mat-card>
</div>
<div class="col-md-12">
  <mat-card class="bg-redbdv" >
    <mat-card-content class="card-info-bdv" ><br>
      <mat-card-title    class="f-s-12 f-w-100">Cantidad de Lotes Rechazados</mat-card-title>
        <h2 class="text-info-bdv">5</h2>
      <mat-divider></mat-divider>
      <p class="text-small">Total</p>
    </mat-card-content>
  </mat-card>
</div>

<div class="col-md-12">
  <mat-card class="bg-bluebdv" >
    <mat-card-content class="card-info-bdv"  ><br>
      <mat-card-title  class="f-s-12 f-w-100">Cantidad de Lotes en Curso</mat-card-title>
        <h2 class="text-info-bdv">30</h2>
      <mat-divider></mat-divider>
      <p class="text-small">Total</p>
    </mat-card-content>
  </mat-card>
</div>

<div class="col-md-12">
  <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
  <button class="btn-rojobdv2 btn-large-2"   (click)="regresar()" mat-flat-button >Volver</button>
</div>
</div>
