<!-- Barra azul con título -->
<page-header class="p-t-24 p-b-36 m-b--40 bg-rojobdv textColor" title="Gestión de Configuración" hideBreadcrumb>
</page-header>

<div class="container">
  <div *ngIf="isLoading" class="loading-spinner">
    <mat-spinner></mat-spinner>
    <p>Cargando datos...</p>
  </div>

  <div class="table-container">
    <button type="button" class="registrar-btn" (click)="openInsertModal()">Registrar Cobrador</button>

    <table mat-table [dataSource]="cobradoresData" class="mat-elevation-z8">
      <!-- Definición de columnas aquí -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef class="sort-header-content custom-align-left">Nombre</th>
        <td mat-cell *matCellDef="let cobradores" class="custom-cell">{{ cobradores.collector_name }}</td>
      </ng-container>
      <ng-container matColumnDef="horaInicial">
        <th mat-header-cell *matHeaderCellDef class="sort-header-content custom-align-left">Hora Inicial</th>
        <td mat-cell *matCellDef="let cobradores" class="custom-cell">{{ cobradores.start_time }}</td>
      </ng-container>
      <ng-container matColumnDef="horaFinal">
        <th mat-header-cell *matHeaderCellDef class="sort-header-content custom-align-left">Hora Final</th>
        <td mat-cell *matCellDef="let cobradores" class="custom-cell">{{ cobradores.final_time }}</td>
      </ng-container>
      <ng-container matColumnDef="estatus">
        <th mat-header-cell *matHeaderCellDef class="sort-header-content custom-align-left">Estatus</th>
        <td mat-cell *matCellDef="let cobradores" class="custom-cell">{{ cobradores.status }}</td>
      </ng-container>
      <ng-container matColumnDef="prioridad">
        <th mat-header-cell *matHeaderCellDef class="sort-header-content custom-align-left">Prioridad</th>
        <td mat-cell *matCellDef="let cobradores" class="custom-cell">{{ cobradores.priority }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['nombre', 'horaInicial', 'horaFinal', 'estatus', 'prioridad']"></tr>
      <tr mat-row *matRowDef="let cobrador; columns: ['nombre', 'horaInicial', 'horaFinal', 'estatus', 'prioridad']" (click)="openModal(cobrador)"></tr>
    </table>
  </div>

  <!-- Sección de Configuraciones -->
  <app-configuracion-list></app-configuracion-list>
</div>
