<page-header class="p-t-32 p-b-48 m-b--24 bg-rojobdv textColor" title="Búsqueda de Transacciones de Lotes" hideBreadcrumb>
</page-header>
<div fxLayout="row wrap" class="matero-row">
  <div class="matero-col" fxFlex="100">
  <mat-card>
    <div class="row flexbox2">
      <div class="col-md-12 flexbox2">
        <h3 style="font-family: nunito!important; text-align: center;">Consulta de Registros</h3>
    </div>
    </div>
<div class="col-12">
  <div class="center-section">
    <div class="col-md-12">
<!------------------------------------------------------------------CONSULTA-TRANSACCIONES---------------------------------------------------------------------------------->

<form [formGroup]="busquedaTForm" >
      <mat-form-field appearance="outline" class="margin-bottom: 2px;">
        <mat-label style="font-family: nunito;">Filtrar por Fecha </mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="fechai" style="font-family: nunito; font-size: 14px;" placeholder="Inicio" style="vertical-align: text-top;font-family: nunito; font-size: 14px;" (dateChange)="validateDate('fechai')">
          <input matEndDate formControlName="fechaf" style="font-family: nunito; font-size: 14px;" placeholder="Final" style="vertical-align: text-top;font-family: nunito; font-size: 14px;" (dateChange)="validateDate('fechaf')">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="p-4">
        <mat-label> Cédula de identidad </mat-label>
        <input
  class="text-left"
  formControlName="cedula"
  (keypress)="numberOnly($event)"
  matInput
  autocomplete="off"
  (paste)="handlePaste($event, 'cedula')"
>
      </mat-form-field>
      <mat-form-field appearance="outline" class="p-4"  >
        <mat-label> Monto</mat-label>
        <input
  class="text-left"
  formControlName="monto"
  (keypress)="decimalNumberOnly($event)"
  matInput
  autocomplete="off"
>
      </mat-form-field>
      <mat-form-field appearance="outline" class="p-4"  >
        <mat-label>Número de Cuenta</mat-label>
        <input class="text-left" formControlName="numerocuenta" (keypress)="numberOnly($event)" [minlength]="20"  matInput   autocomplete="off" >
      </mat-form-field>
      <mat-form-field appearance="outline" class="p-4"  >
        <mat-label>Número de Lote</mat-label>
        <input class="text-left" formControlName="numerolote" (keypress)="numberOnly($event)" matInput   autocomplete="off" >
      </mat-form-field>
      <mat-form-field appearance="outline" class="p-4"  >
        <mat-label style="font-family: nunito;"> Estado del Lote </mat-label>
        <mat-select formControlName="estadolote">
          <mat-option value="I">INICIADO</mat-option>
          <mat-option value="X">POR APROBAR</mat-option>
          <mat-option value="A">APROBADO</mat-option>
          <mat-option value="D">DETENIDO</mat-option>
          <mat-option value="C">CANCELADO</mat-option>
          <mat-option value="L">ENVIADO</mat-option>
          <mat-option value="P">PROCESADO</mat-option>
          <mat-option value="Y">CANCELADO POR FECHA</mat-option>
          <mat-option value="W">EN PROCESO</mat-option>
          <mat-option value="R">RECHAZADO POR MAINFRAME</mat-option>
        </mat-select>
        <mat-icon matSuffix></mat-icon>
      </mat-form-field>
      </form>
      <div class="center-section">
        <button class="btn-azulbdv btn-small" mat-raised-button  (click)="busquedaTransaccionesAvanzado()"  ><mat-icon>search</mat-icon></button>
        <button class="btn-rojobdv btn-small" mat-raised-button  (click)="clear()" ><mat-icon>delete sweep icon</mat-icon></button>
    </div>
    </div>
</div>
</div>
<!------------------------------------------------------------------DESCARGAR REPORTE TRANSACCIONES---------------------------------------------------------------------------------->
<div class="row">
  <div class="col-md-12">
   <div class="right-section margen-item">
      <button mat-raised-button class="btn-textox" style="margin-right: 5px;"  (click)="exportTotxt()" >Descargar Reporte TXT <mat-icon> insert_drive_file</mat-icon></button>
      <button mat-raised-button class="btn-verdibdv" style="margin-right: 5px;"  (click)="exportToExcel()" >Descargar Reporte Excel <mat-icon> table_chart</mat-icon></button>
   </div>
  </div>
  </div>


<div class="row">
  <div class="col-md-6">
  <mat-form-field appearance="outline" class="width50">
  <input matInput  (keyup)="applyFilter($event)" placeholder="Buscar Registro" #tooltip="matTooltip" [matTooltipClass]="'my-tooltip'"  matTooltipPosition="right"   matTooltip="Para solo consultar información" #input>
  </mat-form-field>
  </div>
  <div class="col-md-6">
      <h3 class="title-form" style="text-align: right;">Monto Total Recuperado:{{ (totales / 100 | number:'1.2-2':'es') || '0,00' }} Bs</h3>
    </div>
  <div class="col-md-12">
   <div class="mat-elevation-z8">
     <table mat-table [dataSource]="dataSource" matSort style="width: 100%;" matSortActive="numeroCuenta" matSortDirection="desc" >
      <ng-container matColumnDef="numeroCuenta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort-header-content">Número de Cuenta</th>
        <td mat-cell *matCellDef="let row" class="text-data-json">{{row.numeroCuenta}}</td>
      </ng-container>
      <ng-container matColumnDef="vef">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort-header-content">Moneda</th>
        <td mat-cell *matCellDef="let row" class="text-data-json">{{row.vef}}</td>
      </ng-container>
      <ng-container matColumnDef="montoTransaccion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort-header-content">Monto de Transacción</th>
        <td mat-cell *matCellDef="let row" class="text-data-json">{{ row.montoTransaccion / 100 | number:'1.2-2':'es' }} bs</td>
      </ng-container>
      <ng-container matColumnDef="tipoMovimiento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort-header-content">Movimiento</th>
        <td mat-cell *matCellDef="let row" class="text-data-json">{{row.tipoMovimiento}}</td>
      </ng-container>
      <ng-container matColumnDef="serialOperacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort-header-content">Serial</th>
        <td mat-cell *matCellDef="let row" class="text-data-json">{{row.serialOperacion}}</td>
      </ng-container>
      <ng-container matColumnDef="referencia">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort-header-content">Referencia</th>
        <td mat-cell *matCellDef="let row" class="text-data-json">{{row.referencia}}</td>
      </ng-container>
      <ng-container matColumnDef="codigoOperacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort-header-content">Código Operación</th>
        <td mat-cell *matCellDef="let row" class="text-data-json">{{row.codigoOperacion}}</td>
      </ng-container>
      <ng-container matColumnDef="referencia2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort-header-content">Referencia Adicional</th>
        <td mat-cell *matCellDef="let row" class="text-data-json">{{row.referencia2}}</td>
      </ng-container>
      <ng-container matColumnDef="tipoDocumento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort-header-content">Tipo de Documento</th>
        <td mat-cell *matCellDef="let row" class="text-data-json">{{row.tipoDocumento}}</td>
      </ng-container>
      <ng-container matColumnDef="numeroCedula">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort-header-content">Documento de Identidad</th>
        <td mat-cell *matCellDef="let row" class="text-data-json">{{row.numeroCedula}}</td>
      </ng-container>
      <ng-container matColumnDef="id_lote">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort-header-content">Id Referencial</th>
        <td mat-cell *matCellDef="let row" class="text-data-json">{{row.id_lote}}</td>
      </ng-container>
      <ng-container matColumnDef="id_lotefk">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort-header-content">Id de Lote</th>
        <td mat-cell *matCellDef="let row" class="text-data-json">{{row.id_lotefk}}</td>
      </ng-container>
      <ng-container matColumnDef="fechacarga">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort-header-content">Fecha de Carga</th>
        <td mat-cell *matCellDef="let row" class="text-data-json">{{row.fechacarga}}</td>
      </ng-container>
<ng-container matColumnDef="estado_nombre">
  <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort-header-content">Estado</th>
  <td mat-cell *matCellDef="let row" class="text-data-json">
    {{ row.estado_nombre }}
  </td>
</ng-container>
     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
       <tr class="mat-row" *matNoDataRow>
         <td class="mat-cell" colspan="15">Sin Resultados.</td>
       </tr>
     </table>
     <mat-paginator class="sort-header-content" [pageSizeOptions]="[5,10,50, 100]"
     showFirstLastButtons>
   </mat-paginator>
   </div>
  </div>
  </div>
</mat-card>
</div>
</div>
