<page-header class="p-t-32 p-b-48 m-b--24 bg-rojobdv textColor" title="Búsqueda de Transacciones de Lotes" hideBreadcrumb>
</page-header>
<div fxLayout="row wrap" class="matero-row">
  <div class="matero-col" fxFlex="100">
  <mat-card>
    <div class="row flexbox2">
      <div class="col-md-12 flexbox2">
        <h3 style="font-family: nunito!important; text-align: center;">Consulta de Registros</h3>
    </div>
    </div>
<div class="col-12">
  <div class="center-section">
    <div class="col-md-12">
<!------------------------------------------------------------------CONSULTA-TRANSACCIONES---------------------------------------------------------------------------------->
      <form [formGroup]="busquedaTForm" >
      <mat-form-field appearance="outline" class="margin-bottom: 2px;">
        <mat-label>Filtrar por Fecha </mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="fechai" placeholder="Inicio" (dateChange)="validateDate('fechai')">
          <input matEndDate formControlName="fechaf" placeholder="Final" (dateChange)="validateDate('fechaf')">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <mat-form-field appearance="outline" class="p-4">
        <mat-label> Cédula de identidad </mat-label>
        <input class="text-center" formControlName="cedula" (keypress)="numberOnly($event)" matInput   autocomplete="off" >
      </mat-form-field>
      <mat-form-field appearance="outline" class="p-4"  >
        <mat-label> Monto</mat-label>
        <input class="text-center" formControlName="monto" (keypress)="numberOnly($event)" matInput   autocomplete="off" >
      </mat-form-field>
      <mat-form-field appearance="outline" class="p-4"  >
        <mat-label>Número de Cuenta</mat-label>
        <input class="text-center" formControlName="numerocuenta" (keypress)="numberOnly($event)" [minlength]="20"  matInput   autocomplete="off" >
      </mat-form-field>
      <mat-form-field appearance="outline" class="p-4"  >
        <mat-label>Número de Lote</mat-label>
        <input class="text-center" formControlName="numerolote" (keypress)="numberOnly($event)" matInput   autocomplete="off" >
      </mat-form-field>
      <mat-form-field appearance="outline" class="p-4"  >
        <mat-label style="font-family: nunito;"> Estado del Lote </mat-label>
        <mat-select class="textgeneral"   formControlName="estadolote" #singleSelect>
          <mat-option class="textgeneral"  value="R">RECHAZADO POR MAINFRAME</mat-option>
          <mat-option class="textgeneral"  value="P">REPROCESADO</mat-option>
          <mat-option class="textgeneral"  value="L">PROCESADO</mat-option>
          <mat-option class="textgeneral"  value="X">POR APROBACIÓN</mat-option>
          <mat-option class="textgeneral"  value="K">CANCELADA POR FECHA</mat-option>
        </mat-select>
        <mat-icon matSuffix></mat-icon>
      </mat-form-field>
      </form>
      <div class="center-section">
        <button class="btn-azulbdv btn-small" mat-raised-button  (click)="busquedaTransaccionesAvanzado()"  ><mat-icon>search</mat-icon></button>
        <button class="btn-rojobdv btn-small" mat-raised-button  (click)="clear()" ><mat-icon>delete sweep icon</mat-icon></button>
    </div>
    </div>
</div>
</div>
<!------------------------------------------------------------------DESCARGAR REPORTE TRANSACCIONES---------------------------------------------------------------------------------->
<div class="row">
  <div class="col-md-12">
   <div class="right-section margen-item">
      <button mat-raised-button class="btn-textox" style="margin-right: 5px;"  (click)="exportTotxt()" >Descargar Reporte TXT <mat-icon> insert_drive_file</mat-icon></button>
      <button mat-raised-button class="btn-verdibdv" style="margin-right: 5px;"  (click)="exportToExcel()" >Descargar Reporte Excel <mat-icon> table_chart</mat-icon></button>
   </div>
  </div>
  </div>


<div class="row">
  <div class="col-md-6">
  <mat-form-field appearance="outline" class="width50">
  <input matInput  (keyup)="applyFilter($event)" placeholder="Buscar Registro" #tooltip="matTooltip" [matTooltipClass]="'my-tooltip'"  matTooltipPosition="right"   matTooltip="Para solo consultar información" #input>
  </mat-form-field>
  </div>
  <div class="col-md-6">
      <h3 class="title-form" style="text-align: right;">Monto Total Recuperado:{{ totales  || totales === "0" ? totales : '0'}} Bs </h3>
    </div>
  <div class="col-md-12">
   <div class="mat-elevation-z8">
     <table mat-table [dataSource]="dataSource" matSort style="width: 100%;" matSortActive="numeroCuenta" matSortDirection="desc" >
      <ng-container matColumnDef="numeroCuenta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort-header-content">Número de Cuenta</th>
        <td mat-cell *matCellDef="let row" class="text-data-json">{{row.numeroCuenta}}</td>
      </ng-container>
      <ng-container matColumnDef="vef">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort-header-content">Moneda</th>
        <td mat-cell *matCellDef="let row" class="text-data-json">{{row.vef}}</td>
      </ng-container>
      <ng-container matColumnDef="montoTransaccion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort-header-content">Monto de Transacción</th>
        <td mat-cell *matCellDef="let row" class="text-data-json">{{row.montoTransaccion +' bs'}}</td>
      </ng-container>
      <ng-container matColumnDef="tipoMovimiento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort-header-content">Movimiento</th>
        <td mat-cell *matCellDef="let row" class="text-data-json">{{row.tipoMovimiento}}</td>
      </ng-container>
      <ng-container matColumnDef="serialOperacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort-header-content">Serial</th>
        <td mat-cell *matCellDef="let row" class="text-data-json">{{row.serialOperacion}}</td>
      </ng-container>
      <ng-container matColumnDef="referencia">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort-header-content">Referencia</th>
        <td mat-cell *matCellDef="let row" class="text-data-json">{{row.referencia}}</td>
      </ng-container>
      <ng-container matColumnDef="codigoOperacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort-header-content">Código Operación</th>
        <td mat-cell *matCellDef="let row" class="text-data-json">{{row.codigoOperacion}}</td>
      </ng-container>
      <ng-container matColumnDef="referencia2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort-header-content">Referencia Adicional</th>
        <td mat-cell *matCellDef="let row" class="text-data-json">{{row.referencia2}}</td>
      </ng-container>
      <ng-container matColumnDef="tipoDocumento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort-header-content">Tipo de Documento</th>
        <td mat-cell *matCellDef="let row" class="text-data-json">{{row.tipoDocumento}}</td>
      </ng-container>
      <ng-container matColumnDef="numeroCedula">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort-header-content">Documento de Identidad</th>
        <td mat-cell *matCellDef="let row" class="text-data-json">{{row.numeroCedula}}</td>
      </ng-container>
      <ng-container matColumnDef="id_lote">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort-header-content">Id Referencial</th>
        <td mat-cell *matCellDef="let row" class="text-data-json">{{row.id_lote}}</td>
      </ng-container>
      <ng-container matColumnDef="id_lotefk">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort-header-content">Id de Lote</th>
        <td mat-cell *matCellDef="let row" class="text-data-json">{{row.id_lotefk}}</td>
      </ng-container>
      <ng-container matColumnDef="fechacarga">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort-header-content">Fecha de Carga</th>
        <td mat-cell *matCellDef="let row" class="text-data-json">{{row.fechacarga}}</td>
      </ng-container>
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="sort-header-content">Estado</th>
        <td mat-cell *matCellDef="let row" class="text-data-json">
          <!-- Mapeo de estados -->
          <p *ngIf="row.estado === 'I'">INICIADO</p>
          <p *ngIf="row.estado === 'X'">POR APROBAR</p>
          <p *ngIf="row.estado === 'A'">APROBADO</p>
          <p *ngIf="row.estado === 'D'">DETENIDO</p>
          <p *ngIf="row.estado === 'C'">CANCELADO</p>
          <p *ngIf="row.estado === 'L'">ENVIADO</p>
          <p *ngIf="row.estado === 'P'">PROCESADO</p>
          <p *ngIf="row.estado === 'Y'">CANCELADO POR FECHA</p>
          <p *ngIf="row.estado === 'W'">EN PROCESO</p>
        </td>
      </ng-container>
     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
       <tr class="mat-row" *matNoDataRow>
         <td class="mat-cell" colspan="15">Sin Resultados.</td>
       </tr>
     </table>
     <mat-paginator class="sort-header-content" [pageSizeOptions]="[5,10,50, 100]"
     showFirstLastButtons>
   </mat-paginator>
   </div>
  </div>
  </div>
</mat-card>
</div>
</div>
