.matero-auth-container {
  //background: #707070 !important;
  font-family: Nunito, sans-serif !important;
  margin: 0 !important;
  padding: 20px !important;
}

body {
  background: #FDFDFF;
  font-family: Nunito, sans-serif !important;
 
}