.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alinea el contenido hacia la parte superior */
  align-items: center; /* Alinea horizontalmente al centro */
  height: 100vh; /* Altura total de la ventana del navegador */
  width: 100%;
}

td, th {
  width: 12.5%;
  text-align: left; /* Alineación a la izquierda para ambos */
  padding: 10px; /* Espaciado interno igual para ambos */
  border-bottom: 1px solid #ddd; /* Línea de separación */
}

.table-container {
  max-height: 100vh;
  overflow-y: auto;
  width: 70%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse; /* evitar espacio entre celdas */
}

.mat-form-field {
  font-size: 14px; /* Tamaño de fuente para el campo de formulario */
  width: 100%; /* Asegura que el campo use todo el ancho */
}
th.mat-header-cell:nth-child(1), /* Asegúrate de que sea el índice correcto */
td.mat-cell:nth-child(1) {
  width: 20%; /* Ajusta el ancho de la primera columna de fechas */
}

th.mat-header-cell:nth-child(6), /* Asegúrate de que sea el índice correcto */
td.mat-cell:nth-child(6) {
  width: 20%; /* Ajusta el ancho de la segunda columna de fechas */
}

td.operation-message, th.operation-message {
  width: 20%; /* Aumenta el ancho de la columna "Mensaje" */
}

// Alinear el contenido de los encabezados hacia la izquierda
.custom-align-left {
  text-align: left !important; /* Garantiza la alineación a la izquierda */
}

// Estilo para el encabezado de la tabla
.header-row {
  background-color: #007bff; /* Color de fondo azul */
  color: white; /* Color del texto blanco */
}

// Ajustes para el contenido del encabezado y su estilo
.sort-header-content {
  font-size: 15px;
  font-family: nunito;
  color: #0067b1;
  text-align: left; /* Alineación a la izquierda en encabezados */
}

// Estilo para las celdas personalizadas
.custom-cell {
  padding: 10px; /* Espaciado interno para las celdas */
}

// Agregar estas clases al archivo SCSS de Morosos
.bg-rojobdv {
  background-color: #0067b1;
}

.textColor {
  color: white;
}

.p-t-24 {
  padding-top: 24px;  /* 75% de 32px */
}

.p-b-36 {
  padding-bottom: 36px;  /* 75% de 48px */
}

.m-b--18 {
  margin-bottom: -18px;  /* 75% de -24px */
}

// El resto de tus estilos existentes se mantienen...
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
}

// ... (otros estilos existentes)
