//..................................... CABECERA
.bg-rojobdv{
    background-color: #DB0032;
    color: white;
    font-family: nunito;
  }
//..................................... BOTONES
  .btn-rojobdv{
    background-color: #DB0032;
    color: white;
    text-align: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    font-family: nunito;
  }

  .btn-azulbdv{
    background-color: #0067b1;
    color: white;
    text-align: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    font-family: nunito;
  }
  .material-icons {
    font-family: 'Material Icons';
    font-size: 24px!important;
    line-height: 0.7!important;
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    margin: 0;
  }
  //..................................... CRUD
  .sort-header-content {
    font-size: 12px;
    font-family: nunito;
    color: #0067b1;
  }
  .text-data-json {
    color: #2e2e2e;
    font-size: 12px;
    font-family: nunito;
    text-transform: uppercase;
    padding-left: 5px;
    padding-right: 5px;
  }
  //..................................... INPUTS
  ::-webkit-input-placeholder {
    color: #2e2e2e;
    font-size: 16px;
    font-family: nunito;
    text-transform: initial!important;
  }
  ::-moz-placeholder {
    color: #2e2e2e;
    font-size: 16px;
    font-family: nunito;
    text-transform: initial!important;
  }
  :-ms-input-placeholder {
    color: #2e2e2e;
    font-size: 16px;
    font-family: nunito;
    text-transform: initial!important;
  }
  ::placeholder {
    color: #2e2e2e;
    font-size: 16px;
    font-family: nunito;
    text-transform: initial!important;
  }
  .width30{
    margin-top: 5px;
    width: 40% !important;
    margin-bottom: 10px;
  }
  .mat-date-range-input-inner {
    font: inherit;
      font-size: inherit;
      font-family: inherit;
    background: transparent;
    color: currentColor;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    text-align: inherit;
   // -webkit-appearance: none;
    width: 100%;
    font-family: nunito;
    font-size: 13px;
  }

::ng-deep .mat-calendar-body-today {
  background-color: #0067b1!important;
  color: white;
}
.textoInicial{
  text-transform: uppercase;
  font-family: nunito!important;
  font-weight: 400;
  color: #2e2e2e;
}
  .margin-evento{
    margin-bottom: 15px;
  }
  .mat-cell, .mat-footer-cell {
    color: #2e2e2e!important;
    font-family: nunito;
  }
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #0067b1!important;
    font-size: 14px!important;
    font-family: nunito!important;
  }
  ::ng-deep .mat-form-field-label {
    font-size: 14px!important;
    font-family: nunito!important;
  }
  ::ng-deep .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    background: #0067b1!important;
    color: white;
    font-family: nunito!important;
  }
  ::ng-deep .mat-tooltip.my-tooltip{
    background-color: #0067b1!important;
    font-size: 12px!important;
    font-family: nunito;
  }

  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #0067b1!important;
    opacity: 1!important;
  }
  :host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #d1d1d1;
  }
  ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.8em 0.4em !important;
  }
  mat-datepicker-toggle {
    color: #0067b1!important;
  }
  ::ng-deep .mat-calendar-body-selected {
      background-color: #0067b1;
      color: white;
   }
.dateinput{
  //font-family: nunito!important;
  font-family: 8px!important;
}

  ::ng-deep .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    border-color: #4a96d2;
   }
  ::ng-deep  .mat-calendar-body {
  font-family: nunito; }
  //..................................... GRID
  .center-section{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .right-section{
    display: flex;
    justify-content: end;
    text-align: right;
    margin-right: 10px;
  }
